@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	dd {
		margin-inline: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer styling {
	body {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-size: 13px;
	}

	.container {
		display: flex;
		height: 100vh;

		.side-bar {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 260px;

			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: #ececec;
			scrollbar-gutter: stable;
			padding-inline: 12px;

			background-color: #f9f9f9;
			position: relative;
		}

		.main-action {
			flex-grow: 1;
			flex-shrink: 1;

			overflow-y: auto;

			display: grid;
			grid-template-rows: auto 1fr;
		}

		.icon {
			width: 36px;
			height: 36px;
			display: grid;
			place-content: center;

			svg {
				width: 24px;
				height: 24px;
			}

			svg g path {
				fill: #7f7f7f;
			}

			&.small {
				width: 24px;
				height: 24px;

				svg {
					width: 18px;
					height: 18px;
				}
			}

			&.tiny {
				width: 18px;
				height: 18px;

				svg {
					width: 18px;
					height: 18px;
					margin-inline-start: 8px;
				}
			}

			&.main-icon {
				border-radius: 8px;

				&:hover {
					background: #e7e7e7;
					cursor: pointer;
				}
			}
		}

		.image {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			overflow: hidden;

			&.box {
				border-radius: 8px;
			}
		}

		.icon-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-block: 0.75rem;

			.icon:nth-child(2) {
				margin-inline-start: auto;
			}
		}

		.bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			padding: 8px 6px;

			.text {
				margin-inline-end: auto;
			}

			&:hover {
				background-color: #ececec;
				border-radius: 8px;
				cursor: pointer;
			}

			.info {
				color: #8f8f8f;
			}
		}

		.border {
			border: 1px solid #e5e5e5;
			border-radius: 50%;
		}

		dt {
			font-weight: 600;
			padding: 8px 6px;
			position: sticky;
			top: 0;
			background-color: #f9f9f9;
		}

		.text {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
		}

		.pin-wrapper {
			background: #f9f9f9;
			padding-block: 12px;
			position: fixed;
			bottom: 0;
		}

		.pin-info {
			background: #f9f9f9;
			border: none;
			padding: 10px 8px;
			border-radius: 8px;

			display: flex;
			align-items: center;
			gap: 8px;

			.icon {
				width: 28px;
				height: 28px;
				display: grid;
				place-content: center;
				border: 1px solid #e5e5e5;
				border-radius: 50%;

				svg {
					width: 16px;
					height: 16px;
				}
			}

			.details {
				p {
					margin: 0;
					text-align: start;
				}

				p:last-child {
					color: #8f8f8f;
					font-size: 12px;
				}
			}

			&:hover {
				background: #ececec;
				cursor: pointer;
			}
		}

		.top-action-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 12px;
			gap: 8px;

			.menu,
			.temporary {
				display: none;
			}

			.btn {
				border: 1px solid #d9d9d9;
				border-radius: 120px;
				background: transparent;
				display: flex;
				align-items: center;
				padding: 8px 14px;

				.icon,
				svg {
					width: 16px;
					height: 16px;
				}

				margin-inline-start: auto;
			}

			.profile {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-color: #339cff;
				color: #ffff;
				display: grid;
				place-content: center;
				font-weight: 600;
			}
		}

		#model-type {
			display: flex;
			align-items: center;
			background: transparent;
			border: none;
			font-size: 18px;
			padding: 6px 12px;

			.icon,
			svg {
				width: 18px;
				height: 18px;
			}
		}

		.model-list {
			display: none;
		}

		.input-area-wrapper {
			padding-block-start: 12rem;
		}

		.input-area {
			padding: 2rem;
			text-align: center;
			max-width: 760px;
			margin-inline: auto;

			h1 {
				font-weight: normal;
				margin-block-end: 36px;
			}

			.input-section {
				border: 1px solid #cccccc;
				box-shadow: 0px 4px 9.4px 3px rgba(225, 225, 225, 0.25);
				border-radius: 30px;
				padding: 12px;

				.input {
					margin-block-start: 4px;
					padding-inline: 6px;
					min-height: 48px;
					max-height: 200px;
					overflow-x: hidden;
					overflow-y: auto;
					text-align: start;
					scrollbar-width: thin;
					font-size: 16px;
					font-weight: 300;
					position: relative;

					&[data-contains="contains"]::before {
						display: none;
					}
				}

				.input:user-valid {
					border: 1px solid red;
				}

				.input::before {
					content: "Ask anything";
					position: absolute;
					width: fit-content;
					color: #8f8f8f;
				}

				[contenteditable="true"] {
					outline: none;
				}

				.input-bar {
					display: flex;
					justify-content: space-between;
					align-items: center;

					svg {
						margin-inline-start: 2px;
					}

					.icon:hover {
						background-color: #fafafa;
						border-radius: 50%;
					}

					svg g path {
						fill: #000;
					}

					.seperator {
						margin-inline-start: auto;
						margin-inline-end: 8px;
					}

					.filled {
						background: #000000;
						border-radius: 50%;

						svg g path {
							fill: #fff;
						}

						&:hover {
							background: #4c4c4c;
						}
					}

					.icon.filled[data-contains="empty"] {
						svg:last-child {
							display: none;
						}
					}

					.icon.filled[data-contains="contains"] {
						svg:first-child {
							display: none;
						}
					}

					#model-type {
						padding-block: 0;
						padding-inline: 8px;
						font-size: 14px;

						.text {
							margin-inline-start: 4px;
						}

						.icon {
							/* width: 36px; */
							height: 36px;

							svg {
								width: 24px;
							}
						}
					}
				}
			}
		}
	}
}

@layer media {
	@media (width <=770px) {
		.side-bar,
		.btn,
		.profile {
			display: none;
		}

		.menu {
			display: block;
			margin-inline-end: auto;
		}

		.temporary {
			display: block;
			margin-inline-start: auto;
		}

		.button-wrapper.heading-button {
			padding-inline: 10vw;
		}
	}

	@media (width <= 520px) {
		.input-area {
			display: flex;
			flex-direction: column;
            justify-content: space-between;
            height: 100%;
		}
	}
}
