* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	gap: 64px;
	letter-spacing: -0.3px;
	min-height: 100vh;
	padding: 24px;
	color: #888888;
	overflow: hidden;
}

.top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	row-gap: 32px;
}

.top-start {
	display: flex;
	column-gap: 48px;
	row-gap: 24px;
}

.top-start-item {
	color: #000000;
	max-width: 320px;
}

.bottom {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: end;
}

.bottom-base {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 16px;
	margin-top: 24px;
}

.shoutout {
	max-width: 800px;
}

@media (width <= 700px) {
	.top-start {
		flex-wrap: wrap;
	}

	.top-start > p {
		max-width: none;
	}

	.top-end {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

/* JS Triggered Classes */
.disappear {
	display: none;
}

.start-header {
	font-size: 18px;
	margin-bottom: 6px;
	color: #000000;
}

article:first-child {
	margin-bottom: 24px;
}

.start-header > a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid #000000;
}

.nav-link {
	text-decoration: none;
}

.nav-link#info {
	color: #888;
}

.nav-link#work {
	color: #000000;
}

.box {
	width: 220px;
	height: 220px;
	box-shadow: 4px 7px 4px rgba(32, 37, 32, 0.25);
	color: #000;
	font-size: 24px;
	text-transform: uppercase;
	position: absolute;
	padding: 8px;
}

.yellow {
	background-color: #ffff00;
}

.magenta {
	background-color: #ff00ff;
}

.red {
	background-color: #ff0000;
}

.green {
	background-color: #00ff00;
}

.cyan {
	background-color: #00ffff;
}

.positive-turn {
	transform: rotate(4.78deg);
}

.negative-turn {
	transform: rotate(-8.53deg);
}
