@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		--grey: #e8e8e8;
		--white: #fff;
		--grey-dark: #f1f2f4;
	}

	body {
		font-family: "Albert Sans", sans-serif;
		letter-spacing: -0.03em;
	}
}

@layer styling {
	.main-header {
		background-color: #fff;
		box-shadow: 0px 6px 10.4px rgba(194, 193, 193, 0.25);
		padding: 1rem;
	}

	.link-bar {
		list-style: none;
		padding: 0;
		margin: 0;
		font-weight: 600;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;

		max-width: 1080px;
		margin-inline: auto;

		.logo {
			width: 40px;
			height: 40px;
			background: #00b4c8;
			display: grid;
			place-content: center;
			font-weight: 600;
			font-size: 24px;
			border-radius: 4px;
			color: #fff;
		}

		.name {
			border-right: 1px solid var(--grey);
			padding-inline: 12px;
		}

		.login {
			margin-inline-start: auto;
		}

		svg {
			vertical-align: top;
		}
	}

	.sticky-header {
		padding: 1rem;
		background: var(--white);
		border-bottom: 1px solid var(--grey);
		position: sticky;
		z-index: 2;
		top: 0;

		&[data-state="inactive"] {
			display: none;
			opacity: 0;
			transform: translateY(-100%);
		}

		&[data-state="active"] {
			display: block;
			opacity: 1;
			transform: none;

			transition: display 0.3s, opacity 0.3s, transform 0.3s;

			@starting-style {
				opacity: 0;
				transform: translateY(-100%);
			}
		}
	}

	.sticky-bar {
		.comment {
			margin-inline-start: auto;

			.hidden {
				display: none;
			}
		}
	}

	.news-navigation {
		padding: 1rem;
		border-bottom: 1px solid var(--grey);
	}

	.news-bar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 16px;

		padding: 0;
		margin: 0;
		list-style: none;

		max-width: 1080px;
		margin-inline: auto;
		font-weight: 600;

		.category {
			font-size: 24px;
			font-weight: 900;
		}

		svg {
			vertical-align: top;
		}
	}

	.wrapper {
		padding: 1rem;
	}

	.container {
		max-width: 1080px;
		margin-inline: auto;
		display: flex;
		gap: 1rem;

		.main-news {
			flex: 2 1 0;
			margin-block-start: 1rem;
			margin-inline-end: 1rem;
		}

		.other-news {
			min-width: 260px;
			flex: 1 1 0;
		}
	}

	.tag {
		font-weight: 600;
		font-size: 14px;
		margin: 0;
	}

	h1 {
		font-weight: 900;
		font-size: 32px;
		margin-block: 1rem;
		letter-spacing: 0;
	}

	.caption {
		font-size: 20px;
	}

	figure {
		margin: 0;
		width: 100%;
		margin-block-start: 2rem;

		figcaption {
			margin-block-start: 0.5rem;
		}
	}

	.news-type {
		margin-block-start: 2rem;
		font-weight: 600;
	}

	#date {
		font-size: 14px;
	}

	.paragraphs {
		font-size: 1.25rem;

		.person {
			font-weight: 600;
		}
	}

	.text-link {
		color: black;

		&:hover {
			background-color: var(--grey);
		}
	}

	#comment_info {
		font-size: 1.25rem;
		font-weight: 600;
		font-style: italic;
		margin-block-end: 1rem;
	}

	.btn {
		border: 2px solid black;
		border-radius: 32px;
		padding: 12px 24px;
		letter-spacing: -0.05em;
		background: transparent;
		font: inherit;
		font-weight: 600;
	}

	.comment-section {
		display: grid;
		place-content: center;
	}

	h2 {
		font-size: 20px;
		margin-block: 1rem;
	}

	h6 {
		font-size: 20px;
		margin: 0;
	}

	.subcaption {
		margin: 0;
	}

	.info {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 1rem;
		border-bottom: 1px solid var(--grey);
		padding-block: 0.75rem;

		.tag {
			grid-row: 1;
			grid-column: 1;
		}

		h6 {
			grid-row: 2;
			grid-column: 1;
		}

		.subcaption {
			grid-row: 3;
			grid-column: 1;
			font-size: 14px;
		}

		img {
			grid-column: 2;
			grid-row: 1/5;
			border-radius: 8px;
			justify-self: self-start;
			aspect-ratio: 3/2;
			object-fit: cover;
			/* width: 120px; */
		}
	}

	.info + .info {
		margin-block-start: 1rem;
	}

	.latest-info-bar {
		margin-block: 1rem;

		img {
			border-radius: 8px;
		}

		h5 {
			margin: 0;
			font-size: 24px;
			font-weight: 900;
		}

		p {
			font-size: 18px;
			line-height: 1.5;
			margin-block-end: 1rem;
		}

		.subcaption {
			font-size: 14px;
		}
	}

	.tags {
		margin-block: 0.75rem;

		span {
			padding: 4px 12px;
			border-radius: 12px;
			font-size: 14px;
			font-weight: 600;
		}

		span:first-of-type {
			background-color: black;
			color: var(--white);
		}
	}

	.roundup-info-bar {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 0.5rem 2rem;
		border-top: 1px solid var(--grey);
		padding-block: 1rem;

		.tags {
			grid-row: 1;
			grid-column: 1;
			margin: 0;
		}

		h6 {
			grid-row: 2;
			grid-column: 1;
			font-size: 17px;
			letter-spacing: 0px;
		}

		p {
			grid-row: 3;
			grid-column: 1;
			font-size: 14px;
			margin: 0;

			svg {
				width: 16px;
				vertical-align: top;
			}
		}

		img {
			grid-column: 2;
			grid-row: 1/5;
			border-radius: 8px;
			justify-self: self-start;
			width: clamp(100px, 25vw, 200px);
			aspect-ratio: 3/2;
			object-fit: cover;
		}
	}

	.show-more {
		display: grid;
		place-content: center;
		padding-block-end: 2rem;
	}

	footer {
		background: #f1f2f4;
		padding-inline: 1rem;

		.button-wrapper {
			padding-block: 2rem;
			border-bottom: 1px solid #dbdcde;
			max-width: 1080px;
			margin-inline: auto;

			display: grid;
			place-content: center;

			svg {
				vertical-align: top;
			}
		}

		.footer-links {
			max-width: 1080px;
			margin-inline: auto;

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				align-items: center;
				justify-content: center;

				font-size: 1rem;

				list-style: none;
				padding: 0;
				margin: 0;

				padding-block: 2.5rem;
			}
		}

		.logo-wrapper {
			display: grid;
			place-content: center;
		}

		.logo {
			width: 50px;
			height: 50px;

			display: grid;
			place-content: center;

			background: #131415;
			color: var(--white);
			font-weight: 900;
			font-size: 24px;
			border-radius: 4px;

			margin-block-end: 3rem;
		}
	}

	.read,
	.latest {
		margin-inline-start: 1rem;
		padding-inline-start: 0;
	}

	.read-item,
	.latest-item {
		position: relative;
		font-size: 15px;
		border-left: 1px solid var(--grey);

		h6 {
			font-size: 14px;
			font-weight: 600;
		}

		a {
			text-decoration: none;
		}
	}

	.read-item {
		padding-block-end: 1.5rem;
		padding-inline-start: 36px;

		.marker-wrap {
			width: 40px;
			height: 40px;
			background: var(--white);
			padding: 8px;

			position: absolute;
			top: -10px;
			left: -20px;
		}

		.list-marker {
			background: #131415;
			color: var(--white);

			width: 24px;
			height: 24px;
			border-radius: 50%;
			font-size: 14px;
			font-weight: 600;

			display: grid;
			place-content: center;
		}

		&:last-of-type {
			padding-block-end: 0;
			border-left: 0;
		}
	}

	.other-news h2 {
		font-size: 24px;
		margin-block-end: 20px;
	}

	.latest-item {
		padding-inline-start: 36px;
		padding-block-end: 1rem;

		.marker-wrap {
			width: 40px;
			height: 24px;
			background: var(--white);
			position: absolute;
			display: inline-block;
			text-align: center;
			top: -1px;
			left: -22px;
		}

		.list-marker {
			font-size: 12px;
			font-weight: 600;
			line-height: 1;
		}

		&:last-of-type {
			padding-block-end: 0;
			border-left: 0;
		}
	}
}

@layer media {
	@media (width <= 730px) {
		.main-header .link-bar li:not(li:first-child, .login, li:last-child) {
			display: none;
		}

		li:has(.logo),
		li:last-child {
			order: 1;
		}

		.login {
			margin-inline-start: 0;
		}

		.news-bar {
			justify-content: center;

			.category {
				flex-basis: 100%;
				text-align: center;
			}
		}

		.sticky-bar {
			.comment .text {
				display: none;
			}

			.comment .hidden {
				display: inline;
			}
		}

		.info {
			img {
				width: 90px;
				aspect-ratio: 1/1;
			}
		}

		.roundup-info-bar {
			img {
				aspect-ratio: 1/1;
			}
		}
	}

	@media (width <= 765px) {
		.other-news {
			display: none;
		}

		.main-news {
			margin-inline-end: 0;
		}
	}

	@media (width <= 820px) {
		.main-header .link-bar {
			li:nth-child(n + 7) .text {
				display: none;
			}
		}
	}
}
