@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Global Styling */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	letter-spacing: -0.56px;
}

h3 {
	font-size: 40px;
	letter-spacing: -2.7px;
	margin-bottom: 32px;
}
/* Hero Section Styling */

.hero-img {
	max-width: 300px;
	border-radius: 8px;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	row-gap: 2rem;
	margin-top: 48px;
}

.right-frame {
	min-width: min(100vw, 320px);
	max-width: 780px;
	flex: 1;

	display: flex;
	flex-direction: column;
	gap: 24px;
}

.left-frame {
	margin-right: auto;
}

.left-frame {
	padding: 0 24px 0 48px;
}

.right-frame {
	padding: 0 48px 0 24px;
}

.hero-logo {
	margin-top: 24px;
}

.hero-text {
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1.87px;
}

.link-series {
	list-style-type: none;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.link-series a {
	text-decoration: none;
	font-weight: bold;
	letter-spacing: -1.27px;
	color: #000;
}

.link-series a:hover {
	text-decoration: underline;
}

.link span {
	vertical-align: middle;
	margin-right: 6px;
}

/* Hero Container Container Query */
.header {
	container-name: heroContain;
	container-type: inline-size;
}

@container heroContain (max-width: 760px) {
	.img-container > .hero-img {
		max-width: 120px;
	}

	.left-frame {
		width: 100vw;
		padding: 0 24px;
	}

	.right-frame {
		padding: 0 24px;
	}
}

/* Education Section Styling */
.education {
	padding: 48px;
}

.video {
	/* width: 350px; */
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	aspect-ratio: 3/2;
}

.video video {
	width: 100%;
	aspect-ratio: 3/2;
	object-fit: cover;
	display: block;
}

.box p span {
	display: inline-block;
	padding: 4px 8px;
	background: #eeece9;
	font-size: 12px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #000;
	margin-left: 6px;
}

.box p span.alternate-span {
	background: #fff;
}

.box h3 {
	font-size: 24px;
	margin: 20px 0 8px 0;
	letter-spacing: -1.87px;
}

.box p {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #878787;
}

.overlay {
	filter: blur(15px);
	transition: all 0.2s ease-in;
}

.play_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	text-align: center;
	padding: 4px;
	border-radius: 100px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.circle_visible {
	top: 50%;
	opacity: 1;
	transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.box-hover {
	background: #000;
	color: #fff;
	padding: 6px 12px;
	position: absolute;
	transform: translate(-50%, -50%);
	display: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 6px;
}

.box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
	gap: 32px;
}

/* Template Section Styling */
.template {
	padding: 48px;
}

.template-grid {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 32px;
}

.template-content {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	max-width: 100%;
}

.template-content .box {
	flex: 1;
	min-width: min(322px, 100%);
}

.frame {
	display: flex;
	flex-wrap: wrap;
	gap: 0;
	background: #f6f6f6;
}

.frame .left-frame {
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	padding: 24px;
	min-width: 276px;
}

.frame .left-frame h4 {
	margin: 0;
}

.frame .right-frame {
	flex: 2;
	min-width: 400px;
	min-width: min(400px, 100%);
	max-width: 100%;
}

.video-box {
	padding: 24px;
	background: #f0f0f0;
}

.video-box video {
	width: 100%;
	border-radius: 8px;
}

.button {
	padding: 10px 16px 12px 10px;
	background: #fff;
	border-radius: 24px;
	text-decoration: none;
	color: #000;
	font-weight: 600;
}

.button:hover {
	background-color: #000;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.button:hover svg g path {
	fill: white;
	transition: fill 0.2s ease-in;
}

.button span {
	vertical-align: middle;
}

.left-frame__end p {
	margin-bottom: 32px;
	font-weight: 600;
	font-size: 24px;
}

.video img {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 8px;
	object-fit: cover;
}

@media (max-width: 760px) {
	.education,
	.template,
	.footer {
		padding: 24px;
	}

	.box-container {
		grid-template-columns: 1fr;
	}
}
