@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	dd {
		margin-inline: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		--green: #009e74;
		--green-dark: #009168;

		--grey: #f4f6f8;
		--grey-stroke: #cbd5e4;
		--grey-text: #54667f;
		--white: #fff;

		--dark-blue: #222c3b;
		--dark-blue-overlay: #344053;
		--dark-blue-text: #445368;

		--purple: #7664fe;
	}

	body {
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		min-height: 100vh;
		background: var(--white);
		letter-spacing: -0.03em;
	}
}

@layer styling {
	.cookies {
		position: fixed;
		bottom: 24px;
		max-width: 1100px;
		left: 24px;
		right: 24px;
		margin-inline: auto;

		z-index: 3;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		border: 1px solid var(--grey-stroke);
		background: var(--grey);
		border-radius: 8px;
		padding: 12px 16px;
		gap: 12px;
		font-size: 14px;

		p {
			margin: 0;
			flex-grow: 1;
			flex-basis: 450px;
		}

		a {
			margin-inline-end: auto;
			font-size: 13px;
			white-space: nowrap;
		}
	}

	.btn {
		text-decoration: none;
		background-color: var(--green);
		border: none;
		padding: 10px 16px;
		white-space: nowrap;
		font-size: 12px;
		border-radius: 8px;
		color: var(--white);
		font-weight: 600;
		box-shadow: 0 4px 8px rgba(42, 173, 134, 0.16);

		&:hover {
			background-color: var(--green-dark);
			box-shadow: 0 6px 12px rgba(42, 173, 134, 0.24);
		}

		&.big {
			font-size: 16px;
			line-height: 1;
			padding: 16px 32px;
		}
	}

	.link {
		color: var(--dark-blue-text);
		text-decoration: none;
		line-height: 1.5;
		padding-block: 3px;

		&.colorful {
			color: var(--green);
		}

		&.small {
			padding-block: 1px;
		}

		&.black {
			color: var(--dark-blue);
		}

		&:hover {
			color: var(--green);
			background: linear-gradient(var(--green), var(--green));
			background-repeat: no-repeat;
			background-position: 0 100%;
			animation: increase 0.2s linear forwards;
		}
	}

	.logo {
		width: 90px;
	}

	.footer {
		font-size: 14px;
		margin-block: 120px;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 52px;
			justify-content: space-between;
		}

		.footer-columns {
			min-width: min(100%, 650px);
			flex: 3 1 auto;

			display: grid;
			grid-template-columns: repeat(3, auto);
			gap: 8px;
		}

		p {
			color: var(--dark-blue-overlay);
			flex-basis: 100%;
		}

		.logo-socials {
			flex: 2 1 auto;

			.socials {
				display: flex;
				gap: 24px;

				margin-block-start: 32px;

				img {
					width: 18px;
				}
			}
		}

		.footer-group {
			font-size: 14px;
			display: grid;
			gap: 16px;
			margin: 0;

			dt {
				font-weight: 600;
				color: var(--dark-blue);
			}

			dd:first-of-type {
				margin-block-start: 8px;
			}

			&:not(:first-of-type) {
				margin-block-start: 36px;
			}
		}
	}

	.wrapper {
		max-width: 1100px;
		margin-inline: auto;
		/* padding: clamp(24px, 3.25vw, 48px); */
		padding: 24px;
		padding-block: 120px;
	}

	#features {
		background-color: var(--grey);
		border: 1px solid var(--grey);

		h2 {
			font-size: 32px;
			margin: 0;
		}

		p {
			font-size: 14px;
			color: var(--grey-text);
		}
	}

	#explore {
		background: var(--dark-blue);
		color: white;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 32px;

			& > * {
				flex: 1 1 0;
			}

			.explore-start {
				min-width: min(100%, 448px);

				h2 {
					font-size: 32px;
					margin: 0;
				}
				p {
					margin-block-end: 38px;
				}
			}

			.explore-end {
				background: var(--dark-blue-overlay);
				padding: 24px;
				border-radius: 8px;
				font-size: 14px;
			}

			.code-container {
				min-width: min(370px, 100%);
				overflow-x: auto;

				&::-webkit-scrollbar {
					height: 6px;
				}

				&::-webkit-scrollbar-track {
					background: var(--dark-blue-overlay);
				}

				&::-webkit-scrollbar-thumb {
					background: #8f9db4;
				}
			}
		}
	}

	#build {
		background: var(--dark-blue);
		color: var(--white);
		position: relative;
		overflow: hidden;

		h2 {
			font-size: 55px;
			text-align: center;
			margin-block-start: 0;
			margin-block-end: 48px;
			color: transparent;
			background: linear-gradient(
				90deg,
				#2aad86 20%,
				#c0fc72 40%,
				#c0fc72 60%,
				#2aad86 80%
			);
			background-clip: text;
			background-size: 200%;
			animation: gradient-text 3s linear infinite;
		}

		.info-container {
			border-top: 1px solid #54667f;
			border-bottom: 1px solid #54667f;

			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 18px 40px 32px;

			.info-block {
				p {
					font-size: 14px;
					text-align: center;
					margin: 0;
					color: var(--grey-stroke);
				}

				p:first-child {
					font-size: 48px;
					font-weight: 700;
					letter-spacing: 0;
					color: var(--white);
					margin-inline-start: 12px;
				}
			}
		}

		&::before {
			content: url("https://okra.ng/svgs/metrics-pattern2.svg");
			position: absolute;
			top: -84px;
			right: -44px;
			z-index: 2;
		}

		&::after {
			content: url("https://okra.ng/svgs/metrics-pattern.svg");
			position: absolute;
			left: -24px;
			bottom: -52px;
			z-index: 2;
		}
	}

	.feature-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(315px, 100%), 1fr));
		gap: 32px;
		margin-block-start: 40px;

		.feature-item {
			background-color: var(--white);
			border-radius: 8px;
			box-shadow: 0 4px 8px rgba(98, 116, 144, 0.08);

			.link-area {
				text-decoration: none;
				color: var(--grey-text);
				padding: clamp(12px, calc(2vw), 32px);
				display: block;

				img {
					width: 64px;
					margin-block-end: 64px;
				}

				.subtext {
					text-transform: uppercase;
					font-size: 12px;
					margin-block-end: 16px;
					display: inline-block;
				}

				h5 {
					margin: 0;
					font-size: 18px;
					font-weight: 600;
					color: var(--dark-blue);

					& > .link-change {
						padding-block-end: 2px;
					}
				}

				p {
					margin-block-start: 8px;
				}
			}

			&:hover {
				box-shadow: 0 8px 16px rgba(98, 116, 144, 0.16);

				.link-change {
					color: var(--green);
					background: linear-gradient(var(--green), var(--green));
					background-repeat: no-repeat;
					background-position: 0 100%;
					animation: increase 0.3s linear forwards;
				}
			}
		}
	}
}

@keyframes increase {
	from {
		background-size: 0 1px;
	}

	to {
		background-size: 100% 1px;
	}
}

@keyframes gradient-text {
	to {
		background-position: -200%;
	}
}

@media (width <= 700px) {
	.footer-columns {
		.case-dev {
			grid-row: 2;
			grid-column: 1;
		}

		.company-legal {
			grid-column: 3;
		}
	}

	.info-container {
		padding: 18px 0 32px;
		gap: 24px;

		.info-block {
			flex-basis: calc((100% - 24px) / 2);
			align-self: self-start;

			p {
				font-size: 13px;
			}

			p:first-child {
				font-size: 24px;
			}
		}
	}

	#build::before,
	#build::after {
		display: none;
	}
}
