@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--main-x: #0f1016;
	--grey-x: #5a5a5a;
    --grey-xx: #CECECE;
	--grey-y: #fbfbfb;
    --grey-yy: #DEDEDE;
	--grey-z: #f5f5f5;
    --grey-zz: #c5c5c5;
	--accent-x: #dc0976;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--main-x);
}

.inter {
	font-family: "Inter", serif;
	font-optical-sizing: auto;
	font-style: normal;
	letter-spacing: -0.05em;
}

.bold {
	font-weight: 700;
}

.container {
	max-width: 472px;
	margin: 0 auto;
	padding: 0 12px;
}
